@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", serif;
  font-style: normal;
}



  /* what we are  */
  .bg-linear-sky{
    background: linear-gradient(134.73deg, #213A59 20.87%, #0C647A 100%);
  }


/* Container */

/* Auto layout */

/* background: linear-gradient(134.73deg, rgba(33, 58, 89, 0.8) 20.87%, rgba(12, 100, 122, 0.8) 100%); */


@layer utilities{
  .pt-100{
    @apply pt-[100px];
  }
  .border-1{
    @apply border-[1px];
  }
  .slider-hr{
    @apply absolute left-[42.01%] right-[32.57%] top-[54.9%] bottom-[45.1%] border-[1.5] border-ctm-dark;

  }
}

@layer components {
  .container-bg {
    @apply relative mx-auto px-[135px] max-w-full;
  }

  .bottom-hr {
    @apply absolute border-solid left-0 bottom-[6.25%] w-full border-b-[1px] border border-white opacity-25;
  }

  .text-header{
   @apply font-semibold text-7xl leading-[120%];
  }

  .bg-image{
    @apply bg-contain bg-no-repeat bg-left-top w-full;
  }

  .header-text-hr{
    @apply w-[600px] left-0 border-solid border-[1.5px] border-ctm-dark opacity-35;
  }




}